<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.mapper.FaqMapper">
			<sql id="criteria">
			<trim prefix="(" suffix=") AND" prefixOverrides="OR">
				<foreach item="type" collection="typeArr">
					<trim prefix="OR">
						<choose>
							<when test="type == 'T'.toString()">
								title like '%'||#{keyword}||'%'
							</when>
							<when test="type == 'C'.toString()">
								content like '%'||#{keyword}||'%'
							</when>
						</choose>
					</trim>
				</foreach>
			</trim>
		</sql>
	<select id="getListWithPaging"
		resultType="com.std.domain.FaqVO">
		<![CDATA[
		select
		faqNo,title,content,writer,writedate,faqcnt,userid 
		from
			(
			SELECT
				/*+INDEX_DESC(FAQ pk_faq)*/
				rownum rn,faqNo,title,content,writer,writedate,faqcnt,userid 
			FROM 
				FAQ 
			WHERE
			]]>
			<include refid="criteria"></include>
			<![CDATA[
			 rownum <= #{pageNum}*#{amount}
			)
		WHERE rn > (#{pageNum}-1)*#{amount}
		]]>
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from FAQ
		where
		<include refid="criteria"></include>
		faqNo > 0
	</select>
	
	<select id="getList" resultType="com.std.domain.FaqVO">
		<![CDATA[
		select * from FAQ where faqNo > 0
		]]>
	</select>

	<insert id="insert">
		insert into FAQ(faqNo,title,content,writer,writedate,faqcnt,userid)
		values(seq_FAQ.nextval,#{title},#{content},#{writer})
	</insert>

	<insert id="insertSelectKey">
		<selectKey keyProperty="faqNo" order="BEFORE" resultType="long">
			select seq_FAQ.nextval from dual
		</selectKey>
		insert into FAQ(faqNo,title,content,writer,writedate)
		values(#{faqNo},#{title},#{content},#{writer},sysdate)
	</insert>

	<select id="read" resultType="com.std.domain.FaqVO">
		select * from FAQ where faqNo =
		#{faqNo}

	</select>

	<delete id="delete">
		delete from FAQ where faqNo = #{faqNo}
	</delete>

	<update id="update">
		update FAQ set title=#{title}, content=#{content}, writer=#{writer} where faqNo  = #{faqNo }
	</update>
</mapper>